<div class="comment clearfix">
	<div class="comment_content">
		<p class="comment_name"><strong>名前：<%= comment.name %></strong></p>
		<p class="comment_body">コメント：<%= comment.body %></p>
		<p class="comment_time">投稿日：<%= time_ago_in_words(comment.created_at) %> Ago</p>
	</div>

	<% if user_signed_in? %>
	<p><%= link_to 'コメント削除', [comment.post, comment],
								  method: :delete,
								  class: "button",
								 	data: { confirm: 'このコメントを削除してもいいですか?' } %></p>
 	<% end %>
</div>