<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
	</div>
<% end %>

<% if user_signed_in? %>
<h1>---<%= link_to 'レビューを投稿する', new_post_path %>----<h1>
<% end %>